#habilidades {
    margin: 0;
    padding: 0;
}

.carousel-container {
    width: 100%;
    overflow: hidden;
}

.carousel {
    display: flex;
    animation: slide 10s linear infinite; /* Duración de 10 segundos, lineal y bucle infinito */
}

/* CSS */
/* CSS */
.logo {
    margin-right: 200px;
    position: relative;
}

.logo::after {
    content: attr(data-level); /* El contenido del pseudoelemento será el valor del atributo 'data-level' */
    position: absolute; /* Posiciona el pseudoelemento de forma absoluta */
    top: 50%; /* Lo sitúa verticalmente en el centro */
    left: 50%; /* Lo sitúa horizontalmente en el centro */
    transform: translate(-50%, -50%); /* Lo centra completamente */
    background-color: rgba(0, 0, 0, 0.7); /* Fondo semitransparente */
    color: white; /* Color del texto */
    padding: 5px 10px; /* Espaciado interno */
    border-radius: 5px; /* Borde redondeado */
    font-size: 12px; /* Tamaño de fuente */
    visibility: hidden; /* Inicialmente oculto */
    opacity: 0; /* Inicialmente transparente */
    transition: opacity 0.3s, visibility 0.3s; /* Transición suave */
}

.logo:hover::after {
    visibility: visible; /* Muestra el pseudoelemento al pasar el mouse sobre el contenedor */
    opacity: 1; /* Hace el pseudoelemento completamente visible */
}
