#proyectos {
    padding: 20px;
    background-color: #f9f9f9;
    max-width: 100%;
}

.proyectos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}

.proyecto {
    width: calc(20% - 40px); /* 20% de ancho y 40px de espacio entre proyectos */
    margin-bottom: 60px;
}

.proyecto a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #333;
}

.proyecto img {
    width: 200px; /* Ancho fijo */
    height: 200px; /* Alto fijo */
    object-fit: cover; /* Ajustar la imagen manteniendo la relaci칩n de aspecto */
    margin-bottom: 10px;
    border-radius: 40px; /* A침adir bordes redondeados */
}

.proyecto p {
    font-size: 14px;
    margin: 0;
}

.proyecto:hover img {
    opacity: 0.8; /* Reducir la opacidad al pasar el rat칩n sobre la imagen */
}


.dark-mode #proyectos {
    background-color: #333; /* Color de fondo en modo oscuro */
    color: #fff; /* Color de texto en modo oscuro */
}

.dark-mode .proyecto a {
    color: #fff; /* Color de texto en modo oscuro */
}


@media (max-width: 768px) {
    .proyecto {
        width: 100%; /* Ancho completo en dispositivos m칩viles */
    }
}
